@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  @apply from-blue-600 to-sky-400 to-50%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  @apply bg-radial from-gray-900 to-gray-950 to-90%;
  overflow: hidden;
}

th {
  position: sticky;
  top: 0;
}


button,
label[type='button'] {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  @apply bg-gray-950 px-2 py-2;
  cursor: pointer;
}

button:hover,
label[type='button']:hover {
  border-color: inherit;
}

button:focus,
button:focus-visible,
label[type='button']:focus {
  border-style: dotted;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

input {
  outline: none;
  @apply bg-gray-950 p-2 rounded-md hover:border-[#646cff] hover:border-1 focus:border-dotted
}

form {
  @apply flex gap-1 justify-center items-center
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}